*{
    margin: 0;
    padding: 0;
    font-family: "Lobster Two";
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: rgb(124, 102, 74);
    background-color: beige;

}
/*-----------------------------------------------------------------------------
1. Navegacion Fija
*/
header nav{
    top:0;
    width: 100%;
    background-color: rgb(221, 196, 143);
    padding: 15px;
    z-index: 1000; /* asegurar q este por encima de otros*/
    position: fixed; /* fijar el menu en la pantalla*/
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 22px;
}

header nav ul li a {
    color: rgb(73, 55, 21);
    font-size: 20px;
    text-decoration: none;
}

header nav ul li a:hover{
    color: brown;

}

/*----------------------------------------------
2. Seccion inicio
*/ 
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, rgb(139, 128, 116),#2b2213 , black)
}

.hero-contenido{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.hero-titulo{
    font-size: 3rem;
    margin-bottom: 15px;
    color: beige;
}
.hero-subtitulo{
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    color: beige;
}
.hero-descripcion{
    margin-bottom: 15px;
    font-size: 1.1rem;
    opacity: 0.9;
    color: beige;
}
.hero-slogan{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 40px;
    opacity: 0.9;
    color: beige;
}
.hero-foto{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    object-fit: cover;
    border: 3px solid rgb(255, 255, 255);
}
.hero-estadisticas{
    display: flex;
    justify-content: center;
    gap: 40px; 
    margin-bottom: 40px;
    flex-wrap: wrap;

}
.esta-item{
    text-align: center;
}

.este-numero{
    display: block;
    font-size: 2rem;
    font-weight: 550;
    color: beige;
}
.este-nombre{
    font-size: 0.9rem;
    opacity: 0.8;
    color: beige;
}
.hero-botones{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.btn-whatsapp,.btn-linkedin,.btn-cv{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 8px;
    border-radius: 5px;
    align-items: center;
    gap: 6px;
    border: 1px solid;
}
.btn-whatsapp{
    border-color: rgb(0, 161, 108);
    color: rgb(183, 250, 180);
}
.btn-linkedin{
    border-color: #00a6ff;
    color: #72ceff;
}
.btn-cv{
    border-color: rgb(255, 138, 55);
    color: rgb(255, 151, 77);
}
.hero-nombre{
    background: linear-gradient(135deg,#8a804d, #d8c098, #b6a580, #8d7e5c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transition: 0.3s ease;

}
.hero-nombre:hover{
        transform: scale(1.1);
        transition: 0.3s ease;
}

/* ---------------------------------------------------------------------------------------*/
.sobre{
    text-align: center;
}
.sobre p{
    max-width: 800px;
    line-height: 1.8;
    margin: 0 auto 15px ;

}
.sobre h2{
    color: #8d7e5c;
    margin-top: 50px;
    margin-bottom: 20px;
}
/* ---------------------------------------------------------------------------------------*/
.tecno{
    background: #000000;
}

.tecno h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.tecno-card{
    padding: 25px;
    border-radius: 10px;
    background:  rgb(255, 255, 255, 0.09);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.card-titulo{
    color: aqua;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;

}
.card-descripcion{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tecno-tecnologias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

